@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-light">Welcome</h1>
</div>

<style type="text/css">
    body {
		background-image: url('backgroundep.jpg');
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat
    }
</style>